.menubutton-nav-tab.menubutton-active {
    color: rgb(3, 3, 5);
    background-color: rgb(255, 151, 0);
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 18px 18px 18px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 241px;
    height: 48px;
    cursor: pointer;
}

.menubutton-nav-icon.menubutton-icon-grid {
    color: rgb(255, 151, 0);
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menubutton-jbs-snap-svg {
    color: rgb(255, 151, 0);
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    display: block;
    flex-direction: row;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menubutton-jbs-snap-rect {
    color: rgb(255, 151, 0);
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    display: inline;
    flex-direction: row;
    width: 8px;
    height: 8px;
    cursor: pointer;
}